

	<div class="row-fluid", style= "padding-top:10px; ">			
			<div class="logo_mainbkgd">
				<span class="banner-top-2025" > Welcome to 2025 Consulting</span>
			</div> <!-- background -->
	</div>	

<!-- below was originally nav class -->
<div class="navbar navbar-2025">
  <div class="container-fluid"> <!-- was container-fluid -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">	
	<%= link_to image_tag("Consulting_logo1.png" , :class=>'navbar-brand'), root_path  %>
	   
		 <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
         	<span class="icon-bar"></span>
        	 <span class="icon-bar"></span>
        	 <span class="icon-bar"></span>
		 </button>
	</div>	 
		<div class="collapse navbar-collapse navHeaderCollapse"> 
		
		<ul class="nav navbar-nav navbar-right">
			<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path  %> </li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b> </a>
			<ul class="dropdown-menu">
			<li class="<%= 'active' if current_page?(mgmtcons_path) %>"><%= link_to "Management Consulting", mgmtcons_path  %> </li>
			<li class="<%= 'active' if current_page?(pm_path) %>"><%= link_to "Program Management", pm_path  %> </li>
			<li class="<%= 'active' if current_page?(smallbiz_path) %>"><%= link_to "Small Business", smallbiz_path  %> </li>
			</ul>
			<li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %> </li>
		
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b> </a>
				<ul class="dropdown-menu">
		    		   <li><%= link_to "About Us", about_path %> </li>
		    		  <li><%= link_to "Community Work", enged_path %> </li>	
		    		   <li role="separator" class="divider"></li>
		    		  <li><%= link_to "Contact", contact_path %> </li>
				</ul> <!-- dropdown menu -->
			</li> <!-- dropdown -->
  		
		</ul> <!-- nav navbar-nav navbar-right -->
		
		</div> <!-- navbar-collapse -->	  
    </div> <!-- navbar-header -->

  </div><!-- /.container-fluid -->
</div> <!-- was nav -->


	